## Importing libraries

In [1]:
import json
import pandas as pd
import asyncio
from proxycurl_py.asyncio import Proxycurl, do_bulk
import csv
import json

## Playing around with data samples

In [ ]:
with open('sample_file.json', 'r') as openfile:
    json_object = json.load(openfile)

print(json_object)

In [28]:
df = pd.DataFrame.from_records(json_object)
df

,public_identifier,profile_pic_url,background_cover_image_url,first_name,last_name,full_name,occupation,headline,summary,country,...,accomplishment_test_scores,volunteer_work,certifications,connections,people_also_viewed,recommendations,activities,similarly_named_profiles,articles,groups
0,paola-perez-5128b1230,https://s3.us-west-000.backblazeb2.com/proxycu...,https://s3.us-west-000.backblazeb2.com/proxycu...,Paola,Perez,Paola Perez,QA Trainee at NTConsult,"QA Trainee, cursando An√°lise e Desenvolvimento...","Atuo como QA Trainee, adquirindo mais e mais c...",BR,...,[],[],[],199.0,[],[],"[{'title': 'Foto', 'link': 'https://www.linked...","[{'name': 'Paola P√©rez', 'link': 'https://bo.l...",[],[]
1,aguinaldo-silva-7617a1b7,None,None,aguinaldo,silva,aguinaldo silva,None,None,None,BR,...,[],[],[],NaN,[],[],[],[],[],[]

In [34]:
json_list = [
    {"name": "Teddy", "surname": "Ordonez"},
    {"name": "Rebeca", "surname": "Sagastume"},
    {"name": "Joao", "surname": "abs"},
    {"name": "Gloria", "surname": "Nunez"}
]

In [35]:
with open('json_list.json', 'w') as file:
    json.dump(json_list, file)

In [45]:
json_list_dataframe = pd.read_json('json_list.json')
json_list_dataframe

     name    surname
0   Teddy    Ordonez
1  Rebeca  Sagastume
2    Joao        abs
3  Gloria      Nunez

In [54]:
with open('json_list.json', 'r') as json_file:
    json_list = json.load(json_file)

print(json_list)

[{'name': 'Teddy', 'surname': 'Ordonez'}, {'name': 'Rebeca', 'surname': 'Sagastume'}, {'name': 'Joao', 'surname': 'abs'}, {'name': 'Gloria', 'surname': 'Nunez'}]

In [55]:
json_list_2= [
    {"name": "Juan", "surname": "Lopez"},
    {"name": "Jessica", "surname": "Lopez"}
]

for unit in json_list_2:
    json_list.append(unit)
print(json_list)

[{'name': 'Teddy', 'surname': 'Ordonez'}, {'name': 'Rebeca', 'surname': 'Sagastume'}, {'name': 'Joao', 'surname': 'abs'}, {'name': 'Gloria', 'surname': 'Nunez'}, {'name': 'Juan', 'surname': 'Lopez'}, {'name': 'Jessica', 'surname': 'Lopez'}]

In [56]:
with open('json_list2.json', 'w') as file:
    json.dump(json_list, file)

In [57]:
json_list_2_dataframe = pd.read_json('json_list2.json')
json_list_2_dataframe

      name    surname
0    Teddy    Ordonez
1   Rebeca  Sagastume
2     Joao        abs
3   Gloria      Nunez
4     Juan      Lopez
5  Jessica      Lopez

In [37]:
df2 = pd.DataFrame.from_dict(json_list)
df2

     name    surname
0   Teddy    Ordonez
1  Rebeca  Sagastume
2    Joao        abs
3  Gloria      Nunez

In [18]:
df2.to_csv(path_or_buf='sample_file.csv', index= False)

In [19]:
df3 = pd.read_csv('sample_file.csv')
df3

     name    surname
0   Teddy    Ordonez
1  Rebeca  Sagastume
2    Joao        abs
3  Gloria      Nunez

In [2]:
objs =[]

with open('br_profiles_result.json') as f:
    for line in f:
        objs.append(json.loads(line))

In [3]:
jsones = pd.DataFrame.from_records(objs)
jsones

,public_identifier,profile_pic_url,background_cover_image_url,first_name,last_name,full_name,occupation,headline,summary,country,...,accomplishment_test_scores,volunteer_work,certifications,connections,people_also_viewed,recommendations,activities,similarly_named_profiles,articles,groups
0,%C3%A1lef-menegardo-8bb61393,https://s3.us-west-000.backblazeb2.com/proxycu...,https://s3.us-west-000.backblazeb2.com/proxycu...,√Ålef,Menegardo,√Ålef Menegardo,None,Estudante na MULTIVIX S√ÉO MATEUS,None,BR,...,[],[],[],1.0,[],[],[],[],[],[]
1,%C3%A1lef-nogueira-0a8ba970,https://s3.us-west-000.backblazeb2.com/proxycu...,https://s3.us-west-000.backblazeb2.com/proxycu...,√Ålef,Nogueira,√Ålef Nogueira,Analista de Vendas at Funfer Fundi√ß√£o de Ferro...,Analista de Vendas | Marketing B2B | Outbound ...,Gradua√ß√£o em Gest√£o Comercial pela Universidad...,BR,...,[],[],[],132.0,[{'link': 'https://br.linkedin.com/in/alan-fer...,[],[{'title': 'Em comemora√ß√£o ao #DiaDasCrian√ßas ...,"[{'name': 'Alef Nogueira Cardoso', 'link': 'ht...",[],[]
2,%C3%A1lef-santos-08273758,https://s3.us-west-000.backblazeb2.com/proxycu...,https://s3.us-west-000.backblazeb2.com/proxycu...,√Ålef,Santos,√Ålef Santos,T√©cnico de suporte em TI at Rede Primavera - A...,T√©cnico de suporte em TI | Rede Primavera - As...,Profissional de T.I com um pouco mais de sete ...,BR,...,[],[],[],159.0,[{'link': 'https://br.linkedin.com/in/eric-sim...,[],"[{'title': 'Venha Trabalhar Conosco!!', 'link'...","[{'name': 'Alef Santos', 'link': 'https://br.l...",[],[{'profile_pic_url': 'https://media-exp1.licdn...
3,%C3%A1lefe-amorim-977300112,https://s3.us-west-000.backblazeb2.com/proxycu...,https://s3.us-west-000.backblazeb2.com/proxycu...,√Ålefe,Amorim,√Ålefe Amorim,None,Aluno na Universidade Estadual Paulista Julio ...,None,BR,...,[],[],[],2.0,[],[],[],"[{'name': '√Ålefe Amorim', 'link': 'https://au....",[],[]
4,%C3%A1lefe-barbosa-lobato-a36158235,https://s3.us-west-000.backblazeb2.com/proxycu...,https://s3.us-west-000.backblazeb2.com/proxycu...,√Ålefe Barbosa,Lobato,√Ålefe Barbosa Lobato,Eletricista de manuten√ß√£o II at Grupo Energisa,Eletricista Mont. Manuten√ß√£o II / Grupo Energi...,None,BR,...,[],[],[],56.0,[{'link': 'https://br.linkedin.com/in/claudio-...,[],[{'title': 'Pessoal hoje venho pedir ajuda de ...,[],[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,%c3%a1lvaro-p-cardoso-1386224a,None,None,√°lvaro,cardoso,√°lvaro cardoso,None,None,None,BR,...,[],[],[],NaN,[],[],[],[],[],[]
9996,%c3%a1lvaro-pacheco-dutra-jr-55841b67,None,None,√°lvaro,dutra,√°lvaro dutra,None,None,None,BR,...,[],[],[],NaN,[],[],[],[],[],[]
9997,%c3%a1lvaro-paes-33033b24,None,None,√°lvaro,paes,√°lvaro paes,None,None,None,BR,...,[],[],[],NaN,[],[],[],[],[],[]
9998,%c3%a1lvaro-paiva-04071b7a,None,None,√°lvaro,paiva,√°lvaro paiva,None,None,None,BR,...,[],[],[],NaN,[],[],[],[],[],[]
9999,%c3%a1lvaro-paiva-06a93a26,None,None,√°lvaro,paiva,√°lvaro paiva,None,None,None,BR,...,[],[],[],NaN,[],[],[],[],[],[]

In [4]:
jsones.to_csv(path_or_buf= 'profiles_example.csv')

## Proxycurl

In [70]:
contratados = pd.read_json('contratados.json')
contratados

,public_identifier,profile_pic_url,background_cover_image_url,first_name,last_name,full_name,occupation,headline,summary,country,...,accomplishment_test_scores,volunteer_work,certifications,connections,people_also_viewed,recommendations,activities,similarly_named_profiles,articles,groups
0,paola-perez-5128b1230,https://s3.us-west-000.backblazeb2.com/proxycu...,https://s3.us-west-000.backblazeb2.com/proxycu...,Paola,Perez,Paola Perez,QA Trainee at NTConsult,"QA Trainee, cursando An√°lise e Desenvolvimento...","Atuo como QA Trainee, adquirindo mais e mais c...",BR,...,[],[],[],199.0,[],[],"[{'title': 'Foto', 'link': 'https://www.linked...","[{'name': 'Paola P√©rez', 'link': 'https://bo.l...",[],[]
1,aguinaldo-silva-7617a1b7,None,None,aguinaldo,silva,aguinaldo silva,None,None,None,BR,...,[],[],[],NaN,[],[],[],[],[],[]
2,alan-s-72a145115,https://media.licdn.com/dms/image/C4E03AQFRJp1...,None,Alan,S.,Alan S.,Desenvolvedor Backend at NTConsult,Desenvolvedor Backend | .NET | NodeJS | PHP,Meu perfil no github: https://github.com/sparr...,BR,...,[],[],"[{'starts_at': {'day': 1, 'month': 2, 'year': ...",NaN,[{'link': 'https://www.linkedin.com/in/douglas...,[],[],[],[],[]
3,alessandra-bergamasque-80393196,None,None,Alessandra,Bergamasque,Alessandra Bergamasque,Administradora at Go Crossfit,None,Futura Desenvolvedora de Software Fullstack.\n...,BR,...,[],[],[],NaN,[{'link': 'https://www.linkedin.com/in/brunolb...,[],[],[],[],[]
4,alex-silva-a82970142,None,None,alex,silva,alex silva,None,None,None,BR,...,[],[],[],NaN,[],[],[],[],[],[]
5,aandme,https://s3.us-west-000.backblazeb2.com/proxycu...,https://s3.us-west-000.backblazeb2.com/proxycu...,Alexandre,Andrada,Alexandre Andrada,UX/UI Designer at cafe.art.br,UX / UI Designer,None,BR,...,[],[],[],143.0,[{'link': 'https://br.linkedin.com/in/kellalve...,[],"[{'title': 'Want to create some interesting, b...","[{'name': 'Alexandre Andrada', 'link': 'https:...",[],[]
6,alexsandrobezerra,https://s3.us-west-000.backblazeb2.com/proxycu...,https://s3.us-west-000.backblazeb2.com/proxycu...,Alexsandro,B.,Alexsandro B.,Desenvolvedor Front-End at Stone,Web Developer | NodeJS and ReactJS,WEB development student. \n\nI am currently fo...,BR,...,[],[],[],439.0,[{'link': 'https://br.linkedin.com/in/v1-olive...,[],[{'title': 'Estou criando aos poucos uma aplic...,"[{'name': 'Alexsandro B. Da Silva', 'link': 'h...",[],[]
7,√°lvaro-barros-828490103,None,None,√°lvaro,barros,√°lvaro barros,None,None,None,BR,...,[],[],[],NaN,[],[],[],[],[],[]
8,alvaro-roberto-439400a9,https://s3.us-west-000.backblazeb2.com/proxycu...,https://s3.us-west-000.backblazeb2.com/proxycu...,Alvaro,Roberto,Alvaro Roberto,Engenheiro de Dados at IT Lean,Engenheiro de Dados na IT Lean,None,BR,...,[],"[{'starts_at': None, 'ends_at': None, 'title':...","[{'starts_at': {'day': 1, 'month': 1, 'year': ...",500.0,[{'link': 'https://br.linkedin.com/in/renato-s...,[Ailton MutafciTrabalhar com o Alvaro foi uma ...,"[{'title': 'Miss√£o dada, √© META BATIDAAA!!! üëäüèº...","[{'name': 'Alvaro Augusto Roberto', 'link': 'h...",[],[]

In [72]:
print(contratados.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   public_identifier             9 non-null      object
 1   profile_pic_url               5 non-null      object
 2   background_cover_image_url    4 non-null      object
 3   first_name                    9 non-null      object
 4   last_name                     9 non-null      object
 5   full_name                     9 non-null      object
 6   occupation                    6 non-null      object
 7   headline                      5 non-null      object
 8   summary                       4 non-null      object
 9   country                       9 non-null      object
 10  country_full_name             9 non-null      object
 11  city                          9 non-null      object
 12  state                         7 non-null      object
 13  experiences                   9 non-null      object
 14  education                     9 non-null      object
 15  languages                     9 non-null      object
 16  accomplishment_organisations  9 non-null      object
 17  accomplishment_publications   9 non-null      object
 18  accomplishment_honors_awards  9 non-null      object
 19  accomplishment_patents        9 non-null      object
 20  accomplishment_courses        9 non-null      object
 21  accomplishment_projects       9 non-null      object
 22  accomplishment_test_scores    9 non-null      object
 23  volunteer_work                9 non-null      object
 24  certifications                9 non-null      object
 25  connections                   4 non-null      float64
 26  people_also_viewed            9 non-null      object
 27  recommendations               9 non-null      object
 28  activities                    9 non-null      object
 29  similarly_named_profiles      9 non-null      object
 30  articles                      9 non-null      object
 31  groups                        9 non-null      object
dtypes: float64(1), object(31)
memory usage: 2.4+ KB
None

In [68]:
scraper = pd.read_csv(r'D:\OneDrive - NTCONSULT\NTConsult-Codes\Curso Engenharia de Dados\R\Sentiment Analysis with R\Linkedin-Profile-Scraper-main\contratados.csv')
scraper.head()

,LinkedIn Profile,Name,Title,Location,About,Job 1,Job 2,Job 3,Job 4,Job 5
0,https://www.linkedin.com/in/paola-perez-5128b1...,Paola Perez,"QA Trainee, cursando An√°lise e Desenvolvimento...","Gua√≠ba, Rio Grande do Sul, Brazil","Atuo como QA Trainee, adquirindo mais e mais c...",QA Trainee\nNTConsult ¬∑ Internship\nAug 2022 -...,Assistente comercial\nCFC-FLORA ¬∑ Full-time\nD...,Secret√°ria executiva\nAbreu ‚Ä¢ Almeida Advocaci...,Auxiliar administrativo\nCFC-FLORA ¬∑ Full-time...,Assistente financeiro\nAcem Telecom ¬∑ Full-tim...
1,https://linkedin.com/in/aguinaldo-silva-7617a1b7/,Aguinaldo Silva,RPA Developer Sr.,"S√£o Paulo, S√£o Paulo, Brazil",Especializa√ß√£o em:\nÔÉº\tPacote Office em progra...,Analista Programador S√™nior\nTech Mahindra - B...,Analista Programador RPA\nSBK BS ¬∑ Full-time\n...,Analista Programador RPA S√™nior\nPasquali Solu...,"Analista Programador (VBA, RPA) S√™nior\nAvanad...",Analista Programador S√™nio\nCarrefour ¬∑ Full-t...
2,https://www.linkedin.com/in/alan-s-72a145115/,Alan S.,Desenvolvedor Backend | .NET | NodeJS | PHP,"Porto Alegre, Rio Grande do Sul, Brazil",Meu perfil no github: https://github.com/sparr...,Desenvolvedor Backend\nNTConsult ¬∑ Full-time\n...,Desenvolvedor Backend\nInfocap TI ¬∑ Full-time...,Backend Developer\nOSF Digital ¬∑ Full-time\nJa...,Estagi√°rio em Programa√ß√£o\nGVdasa Intelig√™ncia...,Cozinheiro\nHospital Nossa Senhora da Concei√ß√£...
3,https://linkedin.com/in/alessandra-bergamasque...,Alessandra Bergamasque,Java Developer - JAVA | JavaScript | HTML | CS...,"Salvador, Bahia, Brazil",Desenvolvedora de Software Fullstack.\n\nSou a...,Monitora FullStack\nCubos Academy\nNov 2022 - ...,Java Developer\nNTConsult ¬∑ Full-time\nAug 202...,Administradora\nGo Crossfit ¬∑ Self-employed\nN...,Neoenergia Coelba\n6 yrs 1 mo\nAnalista Jr\nJu...,Monitor de Embalagem\nM. Dias Branco\nAug 2013...
4,https://linkedin.com/in/alex-silva-a82970142/,Alex Silva,Desenvolvedor Back-end Java Pleno,"S√£o Paulo, S√£o Paulo, Brazil",NaN,Desenvolvedor java Pleno\nTO Brasil ¬∑ Full-tim...,Desenvolvedor Java Pleno\nNTConsult ¬∑ Full-tim...,Analista de sistema\nAccenture Brasil ¬∑ Full-t...,Leega\n2 yrs 5 mos\nS√£o Paulo\nAnalista Desenv...,NaN

In [2]:
json_list = pd.read_json('contratados.json')
json_list

,public_identifier,profile_pic_url,background_cover_image_url,first_name,last_name,full_name,occupation,headline,summary,country,...,accomplishment_test_scores,volunteer_work,certifications,connections,people_also_viewed,recommendations,activities,similarly_named_profiles,articles,groups
0,paola-perez-5128b1230,https://s3.us-west-000.backblazeb2.com/proxycu...,https://s3.us-west-000.backblazeb2.com/proxycu...,Paola,Perez,Paola Perez,QA Trainee at NTConsult,"QA Trainee, cursando An√°lise e Desenvolvimento...","Atuo como QA Trainee, adquirindo mais e mais c...",BR,...,[],[],[],199.0,[],[],"[{'title': 'Foto', 'link': 'https://www.linked...","[{'name': 'Paola P√©rez', 'link': 'https://bo.l...",[],[]
1,aguinaldo-silva-7617a1b7,None,None,aguinaldo,silva,aguinaldo silva,None,None,None,BR,...,[],[],[],NaN,[],[],[],[],[],[]
2,alan-s-72a145115,https://media.licdn.com/dms/image/C4E03AQFRJp1...,None,Alan,S.,Alan S.,Desenvolvedor Backend at NTConsult,Desenvolvedor Backend | .NET | NodeJS | PHP,Meu perfil no github: https://github.com/sparr...,BR,...,[],[],"[{'starts_at': {'day': 1, 'month': 2, 'year': ...",NaN,[{'link': 'https://www.linkedin.com/in/douglas...,[],[],[],[],[]
3,alessandra-bergamasque-80393196,None,None,Alessandra,Bergamasque,Alessandra Bergamasque,Administradora at Go Crossfit,None,Futura Desenvolvedora de Software Fullstack.\n...,BR,...,[],[],[],NaN,[{'link': 'https://www.linkedin.com/in/brunolb...,[],[],[],[],[]
4,alex-silva-a82970142,None,None,alex,silva,alex silva,None,None,None,BR,...,[],[],[],NaN,[],[],[],[],[],[]
5,aandme,https://s3.us-west-000.backblazeb2.com/proxycu...,https://s3.us-west-000.backblazeb2.com/proxycu...,Alexandre,Andrada,Alexandre Andrada,UX/UI Designer at cafe.art.br,UX / UI Designer,None,BR,...,[],[],[],143.0,[{'link': 'https://br.linkedin.com/in/kellalve...,[],"[{'title': 'Want to create some interesting, b...","[{'name': 'Alexandre Andrada', 'link': 'https:...",[],[]
6,alexsandrobezerra,https://s3.us-west-000.backblazeb2.com/proxycu...,https://s3.us-west-000.backblazeb2.com/proxycu...,Alexsandro,B.,Alexsandro B.,Desenvolvedor Front-End at Stone,Web Developer | NodeJS and ReactJS,WEB development student. \n\nI am currently fo...,BR,...,[],[],[],439.0,[{'link': 'https://br.linkedin.com/in/v1-olive...,[],[{'title': 'Estou criando aos poucos uma aplic...,"[{'name': 'Alexsandro B. Da Silva', 'link': 'h...",[],[]
7,√°lvaro-barros-828490103,None,None,√°lvaro,barros,√°lvaro barros,None,None,None,BR,...,[],[],[],NaN,[],[],[],[],[],[]
8,alvaro-roberto-439400a9,https://s3.us-west-000.backblazeb2.com/proxycu...,https://s3.us-west-000.backblazeb2.com/proxycu...,Alvaro,Roberto,Alvaro Roberto,Engenheiro de Dados at IT Lean,Engenheiro de Dados na IT Lean,None,BR,...,[],"[{'starts_at': None, 'ends_at': None, 'title':...","[{'starts_at': {'day': 1, 'month': 1, 'year': ...",500.0,[{'link': 'https://br.linkedin.com/in/renato-s...,[Ailton MutafciTrabalhar com o Alvaro foi uma ...,"[{'title': 'Miss√£o dada, √© META BATIDAAA!!! üëäüèº...","[{'name': 'Alvaro Augusto Roberto', 'link': 'h...",[],[]

In [4]:
json_list.to_excel('contratados_proxucyurl_data.xlsx', encoding= 'UTF-8')